/*~~~~~~~~~~~~~~~~~~~~~~~~~
VARIABLES
~~~~~~~~~~~~~~~~~~~~~~~~~*/

$color-primary: #196E82;
$basick-white: #fff;
$basick-red: #EA2431;
$basick-black: #000;

:root {
	/*font-family*/
	--fm-1: "Lato", sans-serif;

	/*colors*/
	--basick-black: #{$basick-black};
	--basick-dark: #333;
	--basick-white: #{$basick-white};
	--basick-red: #{$basick-red};
	
	--color-primary: #{$color-primary};
}

//breakpoints
$desctop: 1920;
$desctop-mid: 1450;
$desctop-min: 1250;
$table: 1024;
$mobile: 768;
$tel: 480;

/***********************Main*/
$duration: 0.3s;

