@charset "UTF-8";
/*~~~~~~~~~~~~~~~~~~~~~~~~~
FONT FAMILY
~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~
VARIABLES
~~~~~~~~~~~~~~~~~~~~~~~~~*/
:root {
  /*font-family*/
  --fm-1: "Roboto Condensed", sans-serif;
  /*colors*/
  --basic-black: #000;
  --basick-dark: #333;
  --basick-white: #fff;
  --color-primary: #0749AA;
}

/***********************Main*/
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input, button, textarea {
  font-family: inherit;
  font-size: inherit;
}

input {
  text-overflow: ellipsis;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited, a:hover {
  text-decoration: none;
}

a {
  color: inherit;
}

ul li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~
ОБЩИЕ СТИЛИ
~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~
ОБЩИЕ СТИЛИ
~~~~~~~~~~~~~~~~~~~~~~~~~*/
.flex, .flex-wrap, .vt-center, .gt-center {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

/*Общие стили сетки*/
.vt-center {
  align-items: center;
}

.gt-center {
  justify-content: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.for-table {
  display: none;
}

@media (max-width: 970px) {
  .for-table {
    display: block;
  }
}

.color-primary {
  color: var(--color-primary);
}

html, body {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  color: #000;
}

.body {
  height: 1px;
  min-height: 100vh;
}

.global-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/*--------------------------------Common--------------------------------*/
.container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 1156px;
}

@media (max-width: 970px) {
  .container {
    padding-right: 20px;
    padding-left: 20px;
    max-width: 768px;
  }
}

@media (max-width: 768px) {
  .container {
    padding-right: 10px;
    padding-left: 10px;
    max-width: 100%;
  }
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~
COMMON BUTTON
~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~
COMMON BLOCKS
~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~
HEADER
~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~
FOOTER
~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*--------------------------------Other--------------------------------*/
/*# sourceMappingURL=main.css.map */